body,
body[data-theme='light'] {
  --color-bg-primary: #fff;
}

body[data-theme='dark'] {
  --color-bg-primary: #0a0a0a;
}

body {
  background: var(--color-bg-primary);
  font-family: 'Sora', sans-serif;
  transition: background 0.25s ease-in-out;
}
